.container {
  background-color: blue;
  height: 50px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.navigation {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 0 82px;
}
.home,
.movie {
  color: rgb(151, 220, 245);
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  transition: color 0.5s;
}
.home:hover,
.movie:hover {
  color: rgb(0, 161, 81);
  text-decoration: underline;
  font-size: 24px;
  font-weight: 700;
}
