.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 16px;
  padding-top: 60px;
}
.listItem {
  border: 1px solid #0511ef;
  width: 260px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listItem:hover {
  background-color: #06b5efe2;
}
.poster {
  width: 200px;
  height: 300px;
  border-radius: 4px;
  object-fit: cover;
}
.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(85, 83, 83);
}
a {
  text-decoration: none;
}
